
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: rgb(189, 236, 189);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
