
        body {
            background-color: antiquewhite;
        }
        
        .container {
            margin: 5px 10%
        }

        h1 {
            background-color: rgb(223, 161, 120);
            text-align: center;
            vertical-align: middle;
            width: 100%;
            height: 90px;
            color: khaki;
            font-family: 'Times New Roman', Times, serif;
        }

        div.content {
            font-family: Arial, Helvetica, sans-serif;
            margin: auto
        }

        table {
            border: 1px solid black;
            align-content: center;
            border-collapse: collapse;
            width: 800px;
        }

        th {
            background-color: burlywood;
        }

        tr {
            height: 30px;
        }

        td {
            padding-left: 15px;
        }

        .category {
            text-align: center;
            font-weight: 300;
            background-color: rgb(252, 222, 193);
        }

